/********************** 글로벌 설정 *********************/
html, body {font-size: 16px; color: #fff; height: 6000px;}
.wrapper {max-width: 1300px; margin: auto;}

/********************** common *********************/


/********************** header *********************/
.header-wrapper {position: fixed; width: 100%; display: flex; justify-content: space-between; align-items: center;
  background-color: transparent; padding: 0 2em; z-index: 99; top: 0; transition: all .3s;}
.header-wrapper.active {background-color: #fff; color: #121212; box-shadow: 0 0 5px rgba(0, 0, 0, .5);}
.header-wrapper.active .add-wrap  {color: #ff4605;}
.header-wrapper.active .add-wrap:hover {color: #fff; background-color: #ff4605; transition: all .5s;}

.header-wrapper .front-header {display: flex; align-items: center;}
.header-wrapper .logo-wrapper {width: 12em; height: 2em; margin-right: 5em;}
.logo-wrapper .logo-wrap {width: 100%;}
.logo-wrapper .logo-wrap a > img {width: 100%;}

.header-wrapper .navi-wrapper {display: flex; align-items: center;}
.navi-wrapper .navi {padding: 2em 1.5em; cursor: pointer; position: relative;}
.navi-wrapper .navi:hover {color: #ff4605; transition: all .5s;}
.navi-wrapper .navi i{color: #ff4605; margin-left: .5em;}

.header-wrapper .sign-wrapper {display: flex; flex-shrink: 0; align-items: center; padding: 1em 0;}
.sign-wrapper .login-wrap {padding: 0 1em; border-right: 1px solid #eee; cursor: pointer;}
.sign-wrapper .login-wrap > i {margin-right: .5em; color: #ff4605;}
.sign-wrapper .login-wrap:hover {color: #ff4605; transition: all .5s;}
.sign-wrapper .sign-wrap {padding: 0 1em; cursor: pointer;}
.sign-wrapper .sign-wrap:hover {color: #ff4605; transition: all .5s;}
.sign-wrapper .add-wrap {padding: 1em; border: 1px solid #ff4605; border-radius: 5px; cursor: pointer;}
.sign-wrapper .add-wrap:hover {background-color: #ff4605; transition: all .5s;}

.navi > .subnavi-wrapper {position: absolute; background-color: #eee; border-radius: 10px; color: #121212; padding: .5em 0; top: 81%;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, .2); opacity: 0; transition: all .25s; transform: translate3d(0,15px,0); visibility: hidden;}

.navi > .subnavi-wrapper:before {content: '▲'; display: inline-block; color: #eee; position: absolute; top: -8%; left: 10%;}
.navi:nth-child(4) > .subnavi-wrapper:before {top: -10%;}
.subnavi-wrapper .subnavi-wrap {width: 250px;}
.subnavi-wrap .subnavi {font-size: 1.125em; padding: .5em 1em; position: relative;}
.subnavi-wrap .subnavi:hover {color: #ff4605; transition: all .5s;}
.subnavi-wrap .subnavi:not(:last-child) {border-bottom: 1px solid #ddd;}

.navi .subnavi-wrapper .subnavi i {margin-left: 9em; color: #121212;}
.navi .subnavi-wrapper .subnavi:hover i {color: #ff4605;}
.navi:last-child .subnavi-wrapper .subnavi i {margin-left: 4.5em; color: #121212;}

.subnavi .downsub-wrapper {position: absolute; background-color: #eee; border-radius: 10px; color: #121212; padding: 0 .2em; top: -55%; right: -85%; box-shadow: 0 1px 2px 2px rgba(0, 0, 0, .2); opacity: 0; transition: all .25s; transform: translate3d(0,15px,0); visibility: hidden;}
.downsub-wrapper .downsub-wrap {width: 200px;}
.downsub-wrap .downsubnavi {font-size: 1em; padding: .5em 1em;}
.downsub-wrap .downsubnavi:not(:last-child) {border-bottom: 1px solid #ddd;}
.downsub-wrap .downsubnavi:hover {color: #ff4605; transition: all .5s;}

.front-header .mo-menu {display: none; font-size: 1em; color: #ff4605; padding: 2em 1em; cursor: pointer;}
.front-header .mo-login {display: none; font-size: 1em; color: #fff; padding: 2em 1em; cursor: pointer;}
.front-header .mo-login:hover {color: #ff4605; transition: all .5s;}


/********************** main *********************/
.main-wrapper {position: relative; width: 100%; height: 80vh; overflow: hidden;}
.main-wrapper .maindesc-wrapper {width: 100%;}
.main-wrapper .maindesc-wrap {width: 70%; position: absolute; top: 50%; left: 50%; z-index: 98; transform: translate(-50%, -50%);
display: flex; flex-direction: column; align-items: center;}
.maindesc-wrap .desc-title {font-size: 4em; font-weight: 700; margin-bottom: 1em; text-align: center;}
.maindesc-wrap .desc-title span{color: #ff4605;}

.maindesc-wrapper .subject-wrapper {display: flex; justify-content: center; align-items: center;}
.maindesc-wrapper .subject-wrapper .subject {cursor: pointer; font-size: 1.2em; padding: 0 .5em 1.2em .5em; position: relative;}
.maindesc-wrapper .subject-wrapper .subject:nth-child(1)::after {display: none; content: "▲"; position: absolute; bottom: -3px; left: 36%; color: #fff;}
.maindesc-wrapper .subject-wrapper .subject:nth-child(2)::after {display: none; content: "▲"; position: absolute; bottom: -3px; left: 36%; color: #fff;}
.maindesc-wrapper .subject-wrapper .subject:nth-child(3)::after {display: none; content: "▲"; position: absolute; bottom: -3px; left: 36%; color: #fff;}
.maindesc-wrapper .subject-wrapper .subject.active::after {display: inline-block; transition: all .5s;}
.maindesc-wrapper .subject-wrapper .subject:first-child {color: #ff4605; cursor: pointer; font-size: 1.2em; padding: 0 .5em 1.2em .5em; position: relative;}
.maindesc-wrapper .subject-wrapper .subject:hover {color: #ff4605; transition: all .5s;}
.maindesc-wrapper .subject-wrapper .subject:not(:last-child) {margin-right: 1.5em;}

.maindesc-wrapper .form-wrapper {display: block; background-color: #fff; padding: 1em 2em; border-radius: 10px;
  box-shadow: 0 10px 0 rgba(255, 255, 255, .5);}
.form-wrapper input {width: 30%; padding: .5em; border: 2px solid #eee; border-radius: 10px;}
.form-wrapper .bt-search {padding: .7em; background-color: #ff4605; color: #fff; border-radius: 5px;}
.form-wrapper .bt-search2 {display: none; width: 100%; padding: .7em; background-color: #ff4605; color: #fff; border-radius: 5px;}

.main-wrapper .slide-wrapper {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.main-wrapper .slide-wrap {width: 100%; height: 100%;}
.main-wrapper .slide .img-wrap {width: 100%; height: 100%;}
.main-wrapper .slide.slide1 .img-wrap {background-image: url(../img/slide/slide-1.jpg); background-repeat: no-repeat; background-size: cover; background-position: center;}
.main-wrapper .slide.slide2 .img-wrap {background-image: url(../img/slide/slide-2.jpg); background-repeat: no-repeat; background-size: cover; background-position: center;}
.main-wrapper .slide.slide3 .img-wrap {background-image: url(../img/slide/slide-3.jpg); background-repeat: no-repeat; background-size: cover; background-position: center;}
.main-wrapper .slide .img-wrap {margin: 0;}
.main-wrapper .slide .img-wrap.active {transition: all 5s; transform: scale(1.2);}


/********************** handy *********************/
.handy-wrapper {width: 100%; color: #121212; margin: 5em 0;}
.handy-wrapper .top-wrapper {display: flex; align-items: center; justify-content: space-between; margin: 2em 0;}
.top-wrapper .title-wrap h3.subtitle {font-size: 1.5em; color: #ff4605; margin-bottom: .5em;}
.top-wrapper .title-wrap h2.title {font-size: 3.5em; font-weight: 700;}
.top-wrapper .bt-wrapper {display: flex; align-items: center;}
.top-wrapper .bt-wrapper .bt-handy {padding: .725em 2em; font-size: 1.25em; border-radius: 10px; background-color: #b5b5b557;}
.top-wrapper .bt-wrapper .bt-handy.active {color: #ff4605; border: 1px solid #ff4605;; background-color: #ffab8d57;}

.handy-wrapper .list-wrapper {width: 100%; height: 680px; display: flex; justify-content: space-between;}
.list-wrapper .list {background-color: #222732; border-radius: 15px; overflow: hidden; color: #fff;}
.list-wrapper .list:hover img {transform: scale(1.1); transition: all 1s;}
.list .img-wrap {width: 100%; height: 70%; overflow: hidden;}
.list .img-wrap img {width: 100%;}

.desc-wrap {padding: .5em 2em;}
.list-wrapper .list.li1 {max-width: 49%; margin-right: 1%; flex-grow: 0; flex-shrink: 1;}
.li1 .desc-wrap .title {width: 100%;}
.li1 .desc-wrap .title h4 {font-size: 1.5em; padding: 1em 0; border-bottom: 1px solid #ddd;}
.li1 .desc-wrap .article {width: 100%; display: flex; align-items: center; justify-content: space-between; padding: 1em 0;}
.li1 .desc-wrap .article .year {background-color: #ff4605; padding: .25em .45em; font-size: 1.125em; border-radius: 5px; text-align: center;}
.li1 .desc-wrap .article .opt-wrap {display: flex; align-items: center; color: #ddd;}
.li1 .desc-wrap .article .opt-wrap > *:not(:last-child) {margin-right: 1em;}
.li1 .desc-wrap .article .price {font-size: 2em; font-weight: 700;}

.list-wrapper .list-subwrap {width: 100%;}
.list-wrapper .list-subwrap .list-wrap {width: 100%;height: 100%; display: flex; justify-content: space-between; flex-wrap: wrap;}
.list-wrapper .list-wrap .list {width: 49%; max-height: 49%; margin: 0 1% 1% 0;}
.list-wrapper .list-wrap .list:nth-child(3) { margin: 0 1% 0 0;;}
.list-wrapper .list-wrap .list:nth-child(4) { margin: 0 1% 0 0;}
.list-wrap .desc-wrap {padding: .5em 1em;}
.list-wrap .desc-wrap .title {width: 100%;}
.list-wrap .desc-wrap .title h4 {font-size: .9em; margin-bottom: .325em;}
.list-wrap .desc-wrap .price {font-size: .9em; font-weight: 700; padding-bottom: .325em; border-bottom: 1px solid #ddd;}
.list-wrap .desc-wrap .article {width: 100%; display: flex; align-items: center; justify-content: space-between; padding: .5em 0;}
.list-wrap .desc-wrap .article .year {background-color: #ff4605; padding: .25em .45em; font-size: .875em; border-radius: 5px;
  text-align: center;}
.list-wrap .desc-wrap .article .opt-wrap {display: flex; align-items: center; color: #ddd;}
.list-wrap .desc-wrap .article .opt-wrap > *:not(:last-child) {margin-right: .5em;}

.handy-wrapper .bot-wrapper {margin: 1em 0; width: 100%; padding: 1em; display: flex; justify-content: space-between; align-items: center;}
.bot-wrapper .sns-wrap {display: flex; justify-content: space-between; align-items: center;}
.sns-wrap > p {margin-right: 2em; font-size: 1.5em; color: #ccc;}
.sns-wrap > a {margin-right: 1em; font-size: 1.em; background-color: #ccc; padding: .5em; border-radius: 50%;}
.sns-wrap > :nth-child(3) {padding: .5em .7em;}
.sns-wrap > a > i {font-size: 1em; color: #eee;}
.sns-wrap > a:hover > i {transform: scale(1.2); transition: all 1s; color: #ff4605;}
.bt-wrap > .bt-view {font-size: 1.5em; background-color: #ff4605; border-radius: 5px; padding: .5em 1.25em; color: #fff;} 


/********************** why *********************/
.why-wrapper {color: #121212; margin-bottom: 6em;}
.why-wrapper .why-head {padding: 2.5em 0; text-align: center;}
.why-wrapper .why-head .why-title {font-size: 3em; font-weight: 800;}

.why-body .whylist-wrapper {display: flex; justify-content: space-between; align-items: center;}
.why-body .whylist-wrapper .whylist {text-align: center;}
.whylist .icon-wrap {display: inline-block; border-radius: 50%;}

.whylist .icon-wrap {margin-bottom: 3em;}
.whylist:nth-child(1) .icon-wrap {background-color: #ffdccf;}
.whylist:nth-child(2) .icon-wrap {background-color: #e7ffd3;}
.whylist:nth-child(3) .icon-wrap {background-color: #d1f3ff;}
.whylist .icon-wrap i {font-size: 2em; padding: .725em; line-height: 1.2;}
.whylist:nth-child(1) .icon-wrap i {color: #ff4400; font-size: 2em; padding: 0 .8em; line-height: 2.6;}
.whylist:nth-child(2) .icon-wrap i {color: #5eff00;}
.whylist:nth-child(3) .icon-wrap i {color: #00bbff;}

.whylist .title {font-size: 1.5em; font-weight: 800; margin-bottom: 1em;}
.whylist .desc-wrap p {line-height: 1.7; color: #bbb;}
.whylist:hover .desc-wrap p {color: #121212; transition: all 1s;}


/********************** team *********************/
.team-wrapper {margin-bottom: 5em;}
.team-wrap {width: 100%; height: 70vh; display: flex; justify-content: space-between; align-items: center; padding: 3em; border-radius: 20px; background-color: #3b3b3b;}

.team-wrap .info-wrapper {width: 50%; margin: 0 3em; height: 100%;}
.team-wrap .info-wrapper .title {margin-bottom: 1em; font-size: 3em; font-weight: 900;}
.team-wrap .info-wrap .info {font-size: 1.17em; margin-bottom: 1em;}
.team-wrap .info-wrap .btn {margin-top: 2em;}
.team-wrap .info-wrap .info i {color: #ff4605; margin-right: .5em;}

.slide-stage {width: 55%; height: 100%; position: relative;}
.slide-runner {width: 100%; height: 100%;}
.slide-runner .slide-case {width: 100%; position: absolute; top: 0; left: 0;}
.slide-runner .slide-case .slide-wrap{width: 100%;}
.slide-runner .slide-case .slide {max-width: 48%; height: 100%; color: #121212; background-color: #fff; border-radius: 20px; overflow: hidden; margin-right: 2%;}
.slide .img-wrap {width: 100%; height: 60%; position: relative; overflow: hidden;}
.slide .img-wrap img {width: 100%;}

.slide .bt-wrap {display: flex; align-items: center; position: absolute; bottom: 35%; left: 25%; transform: translate(-50%, -50%); font-size: 1.5em;}
.slide .bt-wrap a {margin-right: 2%;}
.slide .bt-wrap a > i {color: #fff; padding: .3em .5em; background-color: #ff4605; border-radius: 10px;}

.slide .person-info {padding: 1em;}
.slide .person-info > * {padding: .75em;}
.slide .person-info .info-head {border-bottom: 1px solid #eee;}
.slide .person-info .info-head .name {font-size: 1.25em; font-weight: 700; margin-bottom: .425em;}
.slide .person-info .info-head .job {color: #bbb;}

.slide .person-info .info-body {display: flex; flex-direction: column; font-weight: 600; font-size: 1.125em;}
.slide .person-info .info-body a:first-child {margin-bottom: .5em;  color: #ff4605;}
.slide .person-info .info-body a:last-child {color: #bbb;}


/********************** app *********************/
.app-wrapper {width: 100%;}
.app-wrapper .bar-wrapper {width: calc(100% - 100px); height: 50px; margin: 0 auto; margin-bottom: 5em;}
.bar-wrapper .spon-wrapper {width: 100%; height: 100%;}
.spon-wrapper .spon {max-width: 15%; margin: 0 5%;}
.spon-wrapper .spon img {width: 100%; height: 100%;}

.down-wrapper {width: 100%; display: flex; justify-content: space-between; align-items: center; color: #121212;}

.down-wrapper .app-wrap {display: flex; justify-content: space-between; align-items: center; background-color: #ff4605; padding: 5em 3em; border-radius: 20px; width: 48%; margin-right: 2%;}
.app-wrap .cont-box {width: 50%;}
.cont-box h6.title {font-size: 3em; font-weight: 700; margin-bottom: 1em;}
.cont-box .bt-wrap {display: flex; flex-direction: column; justify-content: center; width: 60%;}
.cont-box .bt-ios {margin-bottom: 1em;}
.cont-box .bt-cont {background-color: #fff; color: #ff4605; padding: .5em 0; text-align: center;}

.cont-box2 {width: 50%; position: relative;}
.cont-box2 .img-wrap {position: absolute; top: -120px; left: 50px;}
.cont-box2 .img-wrap img {width: 100%;}



/********************** news *********************/



/********************** footer *********************/





/********************** 반응형 설정 *********************/
@media (max-width: 1399px) {
  
}

@media (max-width: 1199px) {
  .wrapper {max-width: 1300px; margin: 1em;}
  .header-wrapper {display: block;}
  .header-wrapper .navi-wrapper {display: none;}
  .header-wrapper .sign-wrapper {display: none;}
  .header-wrapper .logo-wrapper {margin: 1em 0;}
  .front-header {justify-content: space-between;}
  .front-header .mo-menu {display: inline-block;}
  .front-header .mo-login {display: inline-block;}

  .form-wrapper input {width: 100%; margin-bottom: .5em;}
  .form-wrapper .bt-search {display: none;}
  .form-wrapper .bt-search2 {display: inline-block;}
}

@media (max-width: 991px) {
  .maindesc-wrap .desc-title {font-size: 2em;}
  
}

@media (max-width: 767px) {
  
}

@media (max-width: 575px) {
  .maindesc-wrap .desc-title {font-size: 1.65em;}
  
}