/********************** 글로벌 설정 *********************/
html, body {font-size: 16px; color: #fff; height: 3000px;}
.wrapper {max-width: 1300px; margin: auto;}

/********************** common *********************/
/* car-box는 차량소개 박스 */
.car-box {}


/********************** header *********************/
.header-wrapper {position: fixed; width: 100%; display: flex; justify-content: space-between; align-items: center;
  background-color: transparent; padding: 0 2em; z-index: 99;}
.header-wrapper .front-header {display: flex; align-items: center;}
.header-wrapper .logo-wrapper {width: 12em; height: 2em; margin-right: 5em;}
.logo-wrapper .logo-wrap {width: 100%;}
.logo-wrapper .logo-wrap a > img {width: 100%;}

.header-wrapper .navi-wrapper {display: flex; align-items: center;}
.navi-wrapper .navi {padding: 2em 1.5em; cursor: pointer; position: relative;}
.navi-wrapper .navi:hover {color: #ff4605; transition: all .5s;}
.navi-wrapper .navi i{color: #ff4605; margin-left: .5em;}

.header-wrapper .sign-wrapper {display: flex; flex-shrink: 0; align-items: center; padding: 1em 0;}
.sign-wrapper .login-wrap {padding: 0 1em; border-right: 1px solid #eee; cursor: pointer;}
.sign-wrapper .login-wrap > i {margin-right: .5em; color: #ff4605;}
.sign-wrapper .login-wrap:hover {color: #ff4605; transition: all .5s;}
.sign-wrapper .sign-wrap {padding: 0 1em; cursor: pointer;}
.sign-wrapper .sign-wrap:hover {color: #ff4605; transition: all .5s;}
.sign-wrapper .add-wrap {padding: 1em; border: 1px solid #ff4605; border-radius: 5px; cursor: pointer;}
.sign-wrapper .add-wrap:hover {background-color: #ff4605; transition: all .5s;}

.navi > .subnavi-wrapper {position: absolute; background-color: #eee; border-radius: 10px; color: #121212; padding: .5em 0; top: 81%;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, .2); opacity: 0; transition: all .25s; transform: translate3d(0,15px,0); visibility: hidden;}

.navi > .subnavi-wrapper:before {content: '▲'; display: inline-block; color: #eee; position: absolute; top: -8%; left: 10%;}
.navi:nth-child(4) > .subnavi-wrapper:before {top: -10%;}
.subnavi-wrapper .subnavi-wrap {width: 250px;}
.subnavi-wrap .subnavi {font-size: 1.125em; padding: .5em 1em; position: relative;}
.subnavi-wrap .subnavi:hover {color: #ff4605; transition: all .5s;}
.subnavi-wrap .subnavi:not(:last-child) {border-bottom: 1px solid #ddd;}

.navi .subnavi-wrapper .subnavi i {margin-left: 9em; color: #121212;}
.navi .subnavi-wrapper .subnavi:hover i {color: #ff4605;}
.navi:last-child .subnavi-wrapper .subnavi i {margin-left: 4.5em; color: #121212;}

.subnavi .downsub-wrapper {position: absolute; background-color: #eee; border-radius: 10px; color: #121212; padding: 0 .2em; top: -55%; right: -85%; box-shadow: 0 1px 2px 2px rgba(0, 0, 0, .2); opacity: 0; transition: all .25s; transform: translate3d(0,15px,0); visibility: hidden;}
.downsub-wrapper .downsub-wrap {width: 200px;}
.downsub-wrap .downsubnavi {font-size: 1em; padding: .5em 1em;}
.downsub-wrap .downsubnavi:not(:last-child) {border-bottom: 1px solid #ddd;}
.downsub-wrap .downsubnavi:hover {color: #ff4605; transition: all .5s;}

.front-header .mo-menu {display: none; font-size: 1em; color: #ff4605; padding: 2em 1em; cursor: pointer;}
.front-header .mo-login {display: none; font-size: 1em; color: #fff; padding: 2em 1em; cursor: pointer;}
.front-header .mo-login:hover {color: #ff4605; transition: all .5s;}


/********************** main *********************/
.main-wrapper {position: relative; width: 100%; height: 80vh; overflow: hidden;}
.main-wrapper .maindesc-wrapper {width: 100%;}
.main-wrapper .maindesc-wrap {width: 70%; position: absolute; top: 50%; left: 50%; z-index: 98; transform: translate(-50%, -50%);
display: flex; flex-direction: column; align-items: center;}
.maindesc-wrap .desc-title {font-size: 4em; font-weight: 700; margin-bottom: 1em; text-align: center;}
.maindesc-wrap .desc-title span{color: #ff4605;}

.maindesc-wrapper .subject-wrapper {display: flex; justify-content: center; align-items: center;}
.maindesc-wrapper .subject-wrapper .subject {cursor: pointer; font-size: 1.2em; padding: 0 .5em 1.2em .5em; position: relative;}
.maindesc-wrapper .subject-wrapper .subject:nth-child(1)::after {display: none; content: "▲"; position: absolute; bottom: -2px; left: 36%; color: #fff;}
.maindesc-wrapper .subject-wrapper .subject:nth-child(2)::after {display: none; content: "▲"; position: absolute; bottom: -2px; left: 36%; color: #fff;}
.maindesc-wrapper .subject-wrapper .subject:nth-child(3)::after {display: none; content: "▲"; position: absolute; bottom: -2px; left: 36%; color: #fff;}
.maindesc-wrapper .subject-wrapper .subject.active::after {display: inline-block;}
.maindesc-wrapper .subject-wrapper .subject:first-child {color: #ff4605; cursor: pointer; font-size: 1.2em; padding: 0 .5em 1.2em .5em; position: relative;}
.maindesc-wrapper .subject-wrapper .subject:hover {color: #ff4605; transition: all .5s;}
.maindesc-wrapper .subject-wrapper .subject:not(:last-child) {margin-right: 1.5em;}

.maindesc-wrapper .form-wrapper {display: block; background-color: #fff; padding: 1em 2em; border-radius: 10px;
  box-shadow: 0 10px 0 rgba(255, 255, 255, .5);}
.form-wrapper input {width: 30%; padding: .5em; border: 2px solid #eee; border-radius: 10px;}
.form-wrapper .bt-search {padding: .7em; background-color: #ff4605; color: #fff; border-radius: 5px;}
.form-wrapper .bt-search2 {display: none; width: 100%; padding: .7em; background-color: #ff4605; color: #fff; border-radius: 5px;}

.main-wrapper .slide-wrapper {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.main-wrapper .slide-wrap {width: 100%; height: 100%;}
.main-wrapper .slide .img-wrap {width: 100%; height: 100%;}
.main-wrapper .slide.slide1 .img-wrap {background-image: url(../img/slide/slide-1.jpg); background-repeat: no-repeat; background-size: cover; background-position: center;}
.main-wrapper .slide.slide2 .img-wrap {background-image: url(../img/slide/slide-2.jpg); background-repeat: no-repeat; background-size: cover; background-position: center;}
.main-wrapper .slide.slide3 .img-wrap {background-image: url(../img/slide/slide-3.jpg); background-repeat: no-repeat; background-size: cover; background-position: center;}
.main-wrapper .slide .img-wrap {margin: 0;}
.main-wrapper .slide .img-wrap.active {transition: all 5s; transform: scale(1.2);}


/********************** handy *********************/
.handy-wrapper {width: 100%; color: #121212;}
.handy-wrapper .top-wrapper {display: flex; align-items: center; justify-content: space-between; margin: 2em 0;}
.top-wrapper .title-wrap h3.subtitle {font-size: 1.5em; color: #ff4605; margin-bottom: .5em;}
.top-wrapper .title-wrap h2.title {font-size: 3.5em; font-weight: 700;}
.top-wrapper .bt-wrapper {display: flex; align-items: center;}
.top-wrapper .bt-wrapper .bt-handy {padding: .725em 2em; font-size: 1.25em; border-radius: 10px; background-color: #b5b5b557;}
.top-wrapper .bt-wrapper .bt-handy.active {color: #ff4605; border: 1px solid #ff4605;; background-color: #ffab8d57;}

.handy-wrapper .list-wrapper {width: 100%; height: 680px; display: flex; justify-content: space-between;}
.list-wrapper .list {background-color: #222732; border-radius: 15px; overflow: hidden; color: #fff;}
.list-wrapper .list:hover img {transform: scale(1.1); transition: all 1s;}
.list .img-wrap {width: 100%; overflow: hidden;}
.list .img-wrap img {width: 100%; height: 100%;}

.desc-wrap {padding: .5em 2em;}
.list-wrapper .list.li1 {max-width: 49%; margin-right: 1%; flex-grow: 1; flex-shrink: 1;}
.li1 .desc-wrap .title {width: 100%;}
.li1 .desc-wrap .title h4 {font-size: 1.5em; padding: 1em 0; border-bottom: 1px solid #ddd;}
.li1 .desc-wrap .article {width: 100%; display: flex; align-items: center; justify-content: space-between; padding: 1em 0;}
.li1 .desc-wrap .article .year {background-color: #ff4605; padding: .25em .45em; font-size: 1.125em; border-radius: 5px; text-align: center;}
.li1 .desc-wrap .article .opt-wrap {display: flex; align-items: center; color: #ddd;}
.li1 .desc-wrap .article .opt-wrap > *:not(:last-child) {margin-right: 1em;}
.li1 .desc-wrap .article .price {font-size: 2em; font-weight: 700;}

.list-wrapper .list-wrap {max-width: 50%; height: 100%; display: flex; justify-content: space-between; flex-wrap: wrap;}
.list-wrapper .list-wrap .list {width: 49%; max-height: 49%; margin: 0 1% 1% 0;}
.list-wrapper .list-wrap .list:nth-child(3) { margin: 0 1% 0 0;;}
.list-wrapper .list-wrap .list:nth-child(4) { margin: 0 1% 0 0;}
.list-wrap .desc-wrap {padding: .5em 1em;}
.list-wrap .desc-wrap .title {width: 100%;}
.list-wrap .desc-wrap .title h4 {font-size: .9em; margin-bottom: .325em;}
.list-wrap .desc-wrap .price {font-size: .9em; font-weight: 700; padding-bottom: .325em; border-bottom: 1px solid #ddd;}
.list-wrap .desc-wrap .article {width: 100%; display: flex; align-items: center; justify-content: space-between; padding: .5em 0;}
.list-wrap .desc-wrap .article .year {background-color: #ff4605; padding: .25em .45em; font-size: .875em; border-radius: 5px;
  text-align: center;}
.list-wrap .desc-wrap .article .opt-wrap {display: flex; align-items: center; color: #ddd;}
.list-wrap .desc-wrap .article .opt-wrap > *:not(:last-child) {margin-right: .5em;}

/********************** popular *********************/



/********************** why *********************/



/********************** team *********************/



/********************** down *********************/



/********************** news *********************/



/********************** footer *********************/





/********************** 반응형 설정 *********************/
@media (max-width: 1399px) {
  
}

@media (max-width: 1199px) {
  .wrapper {max-width: 1300px; margin: 1em;}
  .header-wrapper {display: block;}
  .header-wrapper .navi-wrapper {display: none;}
  .header-wrapper .sign-wrapper {display: none;}
  .header-wrapper .logo-wrapper {margin: 1em 0;}
  .front-header {justify-content: space-between;}
  .front-header .mo-menu {display: inline-block;}
  .front-header .mo-login {display: inline-block;}

  .form-wrapper input {width: 100%; margin-bottom: .5em;}
  .form-wrapper .bt-search {display: none;}
  .form-wrapper .bt-search2 {display: inline-block;}
}

@media (max-width: 991px) {
  .maindesc-wrap .desc-title {font-size: 2em;}
  
}

@media (max-width: 767px) {
  
}

@media (max-width: 575px) {
  .maindesc-wrap .desc-title {font-size: 1.65em;}
  
}